.loggedIn{
    -fx-background-color: #b9ceac;
}

.loggedOut{
    -fx-background-color: #f69b9a;
}

.loggedIn:selected{
    -fx-background-color: #72BCD4;
}

.loggedOut:selected{
    -fx-background-color: #72BCD4;
}